body {
	padding-bottom: 25px;
}

h1 {
	margin: 20px auto 40px auto;
	font-size: 35px;
	font-family: Georgia;
	text-align: center;
}

h2 {
	font-size: 20px;
	margin-bottom: 20px;
	font-family: Georgia;
}

.app {
	width: 800px;
	margin: 0 auto;
}

.deck-picker {
	float: left;
	margin-right: 10px;
}

.deck-picker span {
	display: block;
}

.import-playlist input {
	display: block;
	border: 0;
	width: 690px;
	font-family: Arial;
	font-size: 14px;
	padding: 5px;
	margin: 0;
	float:left;
}

.import-playlist button {
	display: block;
	padding: 5px;
	float:right;
	border:0;
	margin:0 0 20px 0;
}

label{
	display:block;
	clear: both;
	font-size: 36px;
	color: yellow;
	line-height: 1em;
	margin: 10px 0	;
}

.sp-list {
	float: left;
	width: 400px;
	margin-bottom: 10px;
}

.import-playlist img {
	margin: 10px 0;	
}

.import-playlist .imageWrapper {
	position: relative;
}

.import-playlist .imageWrapper p {
	position: absolute;
	top: 65px;
	left: 50px;
	color: #000;
	font-size: 24px;
}

.import-playlist .imageWrapper p {
	font-size: 28px;	
}
.c60 .wrapper-side-b .imageWrapper p {
	top: 40px;
}
.c90 .imageWrapper p {
	top: 70px;
	left: 70px;
}
.c90 .wrapper-side-b .imageWrapper p {
	top: 45px;
}

.import-playlist .data {
	clear: left;
}

.img-side-a {
	float: left;
}

.wrapper-side-b .imageWrapper {
	clear: right;
	float: right;
}
p.good {
	color: green;
}
p.decent {
	color: yellow;
}
p.bad {
	color: orange;
}
p.fail {
	color: red;
}
