body {
	padding-bottom: 25px;
}

h1 {
	margin: 20px auto 40px auto;
	font-size: 35px;
	width: 400px;
	font-family: Lucida;
	text-align: center;
}

h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

.app {
	width: 800px;
	margin: 0 auto;
}

.deck-picker {
	float: left;
	margin-right: 10px;
}

.deck-picker span {
	display: block;
}

.import-playlist input {
	display: block;
	border: 0;
	width: 790px;
	font-family: Arial;
	font-size: 14px;
	padding: 5px;
	margin: 0;
}

.import-playlist button {
	display: block;
	margin-bottom: 20px;
}

label{
	display:block;
	clear: both;
	font-size: 36px;
	color: yellow;
	line-height: 1em;
	margin-top: 10px;
}

.sp-list {
	float: left;
	width: 400px;
}

.import-playlist img {
	margin-bottom: 10px;	
}

.import-playlist .imageWrapper {
	position: relative;
}

.import-playlist .imageWrapper p {
	position: absolute;
	top: 45px;
	left: 90px;
	color: #000;
	font-size: 24px;
}
.import-playlist .imageWrapper p {
	font-size: 18px;
}	
.c90 .wrapper-side-a .imageWrapper p {
	top: 40px;
	left: 40px;
}
.c60 .wrapper-side-b .imageWrapper p {
	top: 45px;
	left: 90px;
}
.c90 .wrapper-side-b .imageWrapper p {
	top: 40px;
	left: 60px;
}

.import-playlist .data {
	clear: left;
}

.img-side-a {
	float: left;
}

.wrapper-side-b .imageWrapper {
	float: right;
}