body {
	padding-bottom: 25px;
}

h1 {
	margin: 20px auto 40px auto;
	font-size: 35px;
	width: 400px;
	font-family: Lucida;
	text-align: center;
}

h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

.app {
	width: 800px;
	margin: 0 auto;
}

.deck-picker {
	float: left;
	margin-right: 10px;
}

.deck-picker span {
	display: block;
}

.import-playlist input {
	display: block;
	border: 0;
	width: 790px;
	font-family: Arial;
	font-size: 14px;
	padding: 5px;
	margin: 0;
}

.import-playlist button {
	display: block;
	margin-bottom: 20px;
}

label{
	display:block;
	clear: both;
	font-size: 36px;
	color: yellow;
	line-height: 1em;
	margin-top: 10px;
}

.sp-list {
	float: left;
	width: 400px;
}

.import-playlist img {
	margin-bottom: 10px;
}

.import-playlist .data {
	clear: left;
}

.img-side-a {
	float: left;
}

.img-side-b {
	float: right;
}